# S3M_Formation_Project/.gitignore
# Environment variables
.env
db/.env

# Docker volumes (safety)
pgdata/
node_modules

# ===============================
# Database dumps
# ===============================
*.sql

*.dump

# dependencies
/node_modules