--
-- PostgreSQL database dump
--

\restrict ne5mQ0Wa8BZW6Xkf8xgEpk1g7mpYzTZlmp0H5gCftM3GKReFVV5Ha0CpW57nbtC

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: cout_formation; Type: TABLE; Schema: public; Owner: s3m_user
--

CREATE TABLE public.cout_formation (
    id_cout integer NOT NULL,
    id_session integer NOT NULL,
    remboursement character varying(100),
    prix_heure_mad numeric(10,2),
    prix_jour_mad numeric(10,2),
    autres_depenses numeric(10,2),
    cout_total numeric(10,2) NOT NULL
);


ALTER TABLE public.cout_formation OWNER TO s3m_user;

--
-- Name: cout_formation_id_cout_seq; Type: SEQUENCE; Schema: public; Owner: s3m_user
--

CREATE SEQUENCE public.cout_formation_id_cout_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cout_formation_id_cout_seq OWNER TO s3m_user;

--
-- Name: cout_formation_id_cout_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: s3m_user
--

ALTER SEQUENCE public.cout_formation_id_cout_seq OWNED BY public.cout_formation.id_cout;


--
-- Name: employe; Type: TABLE; Schema: public; Owner: s3m_user
--

CREATE TABLE public.employe (
    id_employe integer NOT NULL,
    nom character varying(100) NOT NULL,
    prenom character varying(100) NOT NULL,
    cin character varying(50),
    cnss character varying(50),
    matricule character varying(50),
    f_h character(1),
    csp character varying(50),
    fonction character varying(100),
    type_contrat character varying(50),
    departement character varying(100),
    date_embauche date,
    date_naissance date,
    id_entreprise integer NOT NULL,
    id_manager integer
);


ALTER TABLE public.employe OWNER TO s3m_user;

--
-- Name: employe_id_employe_seq; Type: SEQUENCE; Schema: public; Owner: s3m_user
--

CREATE SEQUENCE public.employe_id_employe_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.employe_id_employe_seq OWNER TO s3m_user;

--
-- Name: employe_id_employe_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: s3m_user
--

ALTER SEQUENCE public.employe_id_employe_seq OWNED BY public.employe.id_employe;


--
-- Name: entreprise; Type: TABLE; Schema: public; Owner: s3m_user
--

CREATE TABLE public.entreprise (
    id_entreprise integer NOT NULL,
    nom_entreprise character varying(255) NOT NULL
);


ALTER TABLE public.entreprise OWNER TO s3m_user;

--
-- Name: entreprise_id_entreprise_seq; Type: SEQUENCE; Schema: public; Owner: s3m_user
--

CREATE SEQUENCE public.entreprise_id_entreprise_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.entreprise_id_entreprise_seq OWNER TO s3m_user;

--
-- Name: entreprise_id_entreprise_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: s3m_user
--

ALTER SEQUENCE public.entreprise_id_entreprise_seq OWNED BY public.entreprise.id_entreprise;


--
-- Name: evaluation_a_chaud; Type: TABLE; Schema: public; Owner: s3m_user
--

CREATE TABLE public.evaluation_a_chaud (
    id_eval_chaud integer NOT NULL,
    id_participation integer NOT NULL,
    evaluation_a_chaud text
);


ALTER TABLE public.evaluation_a_chaud OWNER TO s3m_user;

--
-- Name: evaluation_a_chaud_id_eval_chaud_seq; Type: SEQUENCE; Schema: public; Owner: s3m_user
--

CREATE SEQUENCE public.evaluation_a_chaud_id_eval_chaud_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.evaluation_a_chaud_id_eval_chaud_seq OWNER TO s3m_user;

--
-- Name: evaluation_a_chaud_id_eval_chaud_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: s3m_user
--

ALTER SEQUENCE public.evaluation_a_chaud_id_eval_chaud_seq OWNED BY public.evaluation_a_chaud.id_eval_chaud;


--
-- Name: evaluation_a_froid; Type: TABLE; Schema: public; Owner: s3m_user
--

CREATE TABLE public.evaluation_a_froid (
    id_eval_froid integer NOT NULL,
    id_participation integer NOT NULL,
    id_n_plus_1 integer NOT NULL,
    evaluation_participant text,
    evaluation_n_plus_1 text,
    date_evaluation_a_froid date,
    taux_efficacite numeric(5,2)
);


ALTER TABLE public.evaluation_a_froid OWNER TO s3m_user;

--
-- Name: evaluation_a_froid_id_eval_froid_seq; Type: SEQUENCE; Schema: public; Owner: s3m_user
--

CREATE SEQUENCE public.evaluation_a_froid_id_eval_froid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.evaluation_a_froid_id_eval_froid_seq OWNER TO s3m_user;

--
-- Name: evaluation_a_froid_id_eval_froid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: s3m_user
--

ALTER SEQUENCE public.evaluation_a_froid_id_eval_froid_seq OWNED BY public.evaluation_a_froid.id_eval_froid;


--
-- Name: fiche_technique_formation; Type: TABLE; Schema: public; Owner: s3m_user
--

CREATE TABLE public.fiche_technique_formation (
    id_fiche integer NOT NULL,
    id_formation integer NOT NULL,
    version_numero integer NOT NULL,
    statut character varying(20) DEFAULT 'ACTIVE'::character varying NOT NULL,
    date_creation timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    date_activation date,
    date_archivage date,
    description text,
    objectifs text,
    competences_cible text,
    prerequis text,
    population_cible text,
    programme text,
    nb_participants_min integer,
    nb_participants_max integer,
    duree_jours numeric,
    duree_heures numeric,
    modalites_evaluation text,
    indicateurs_succes text
);


ALTER TABLE public.fiche_technique_formation OWNER TO s3m_user;

--
-- Name: fiche_technique_formation_id_fiche_seq; Type: SEQUENCE; Schema: public; Owner: s3m_user
--

CREATE SEQUENCE public.fiche_technique_formation_id_fiche_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fiche_technique_formation_id_fiche_seq OWNER TO s3m_user;

--
-- Name: fiche_technique_formation_id_fiche_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: s3m_user
--

ALTER SEQUENCE public.fiche_technique_formation_id_fiche_seq OWNED BY public.fiche_technique_formation.id_fiche;


--
-- Name: formation; Type: TABLE; Schema: public; Owner: s3m_user
--

CREATE TABLE public.formation (
    id_formation integer NOT NULL,
    module character varying(255) NOT NULL,
    type_formation character varying(150) NOT NULL,
    famille_formation character varying(150) NOT NULL,
    sous_famille character varying(150),
    interne_externe character varying(50),
    annee integer,
    reference_formation character varying(50) NOT NULL
);


ALTER TABLE public.formation OWNER TO s3m_user;

--
-- Name: formation_id_formation_seq; Type: SEQUENCE; Schema: public; Owner: s3m_user
--

CREATE SEQUENCE public.formation_id_formation_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.formation_id_formation_seq OWNER TO s3m_user;

--
-- Name: formation_id_formation_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: s3m_user
--

ALTER SEQUENCE public.formation_id_formation_seq OWNED BY public.formation.id_formation;


--
-- Name: participation; Type: TABLE; Schema: public; Owner: s3m_user
--

CREATE TABLE public.participation (
    id_participation integer NOT NULL,
    id_session integer NOT NULL,
    id_employe integer NOT NULL
);


ALTER TABLE public.participation OWNER TO s3m_user;

--
-- Name: participation_id_participation_seq; Type: SEQUENCE; Schema: public; Owner: s3m_user
--

CREATE SEQUENCE public.participation_id_participation_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.participation_id_participation_seq OWNER TO s3m_user;

--
-- Name: participation_id_participation_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: s3m_user
--

ALTER SEQUENCE public.participation_id_participation_seq OWNED BY public.participation.id_participation;


--
-- Name: session_formation; Type: TABLE; Schema: public; Owner: s3m_user
--

CREATE TABLE public.session_formation (
    id_session integer NOT NULL,
    id_formation integer NOT NULL,
    id_entreprise integer NOT NULL,
    date_debut date NOT NULL,
    date_fin date NOT NULL,
    d_heures numeric(5,2),
    d_jours numeric(5,2),
    formateur character varying(150),
    fournisseur character varying(150)
);


ALTER TABLE public.session_formation OWNER TO s3m_user;

--
-- Name: session_formation_id_session_seq; Type: SEQUENCE; Schema: public; Owner: s3m_user
--

CREATE SEQUENCE public.session_formation_id_session_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.session_formation_id_session_seq OWNER TO s3m_user;

--
-- Name: session_formation_id_session_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: s3m_user
--

ALTER SEQUENCE public.session_formation_id_session_seq OWNED BY public.session_formation.id_session;


--
-- Name: stg_formation_excel; Type: TABLE; Schema: public; Owner: s3m_user
--

CREATE TABLE public.stg_formation_excel (
    ur character varying(50),
    theme_formation text,
    type_formation character varying(100),
    interne_externe character varying(50),
    famille_formation character varying(150),
    sous_famille character varying(150),
    annee integer,
    date_debut date,
    date_fin date,
    formateur character varying(150),
    d_heures numeric,
    d_jours numeric,
    fournisseur character varying(150),
    remboursement character varying(100),
    prix_heure_mad numeric,
    prix_jour_mad numeric,
    autres_depenses numeric,
    cout_total numeric,
    nom character varying(100),
    prenom character varying(100),
    cin character varying(50),
    cnss character varying(50),
    type_contrat character varying(100),
    matricule character varying(50),
    f_h character(1),
    csp character varying(50),
    fonction character varying(150),
    evaluation_a_chaud text,
    evaluation_a_froid text,
    date_evaluation_a_froid date,
    taux_efficacite numeric,
    population_cible text,
    objectifs text,
    competences_cible text,
    prerequis text,
    modalites_evaluation text,
    indicateurs_succes text,
    date_naissance date,
    date_embauche date
);


ALTER TABLE public.stg_formation_excel OWNER TO s3m_user;

--
-- Name: cout_formation id_cout; Type: DEFAULT; Schema: public; Owner: s3m_user
--

ALTER TABLE ONLY public.cout_formation ALTER COLUMN id_cout SET DEFAULT nextval('public.cout_formation_id_cout_seq'::regclass);


--
-- Name: employe id_employe; Type: DEFAULT; Schema: public; Owner: s3m_user
--

ALTER TABLE ONLY public.employe ALTER COLUMN id_employe SET DEFAULT nextval('public.employe_id_employe_seq'::regclass);


--
-- Name: entreprise id_entreprise; Type: DEFAULT; Schema: public; Owner: s3m_user
--

ALTER TABLE ONLY public.entreprise ALTER COLUMN id_entreprise SET DEFAULT nextval('public.entreprise_id_entreprise_seq'::regclass);


--
-- Name: evaluation_a_chaud id_eval_chaud; Type: DEFAULT; Schema: public; Owner: s3m_user
--

ALTER TABLE ONLY public.evaluation_a_chaud ALTER COLUMN id_eval_chaud SET DEFAULT nextval('public.evaluation_a_chaud_id_eval_chaud_seq'::regclass);


--
-- Name: evaluation_a_froid id_eval_froid; Type: DEFAULT; Schema: public; Owner: s3m_user
--

ALTER TABLE ONLY public.evaluation_a_froid ALTER COLUMN id_eval_froid SET DEFAULT nextval('public.evaluation_a_froid_id_eval_froid_seq'::regclass);


--
-- Name: fiche_technique_formation id_fiche; Type: DEFAULT; Schema: public; Owner: s3m_user
--

ALTER TABLE ONLY public.fiche_technique_formation ALTER COLUMN id_fiche SET DEFAULT nextval('public.fiche_technique_formation_id_fiche_seq'::regclass);


--
-- Name: formation id_formation; Type: DEFAULT; Schema: public; Owner: s3m_user
--

ALTER TABLE ONLY public.formation ALTER COLUMN id_formation SET DEFAULT nextval('public.formation_id_formation_seq'::regclass);


--
-- Name: participation id_participation; Type: DEFAULT; Schema: public; Owner: s3m_user
--

ALTER TABLE ONLY public.participation ALTER COLUMN id_participation SET DEFAULT nextval('public.participation_id_participation_seq'::regclass);


--
-- Name: session_formation id_session; Type: DEFAULT; Schema: public; Owner: s3m_user
--

ALTER TABLE ONLY public.session_formation ALTER COLUMN id_session SET DEFAULT nextval('public.session_formation_id_session_seq'::regclass);


--
-- Data for Name: cout_formation; Type: TABLE DATA; Schema: public; Owner: s3m_user
--



--
-- Data for Name: employe; Type: TABLE DATA; Schema: public; Owner: s3m_user
--



--
-- Data for Name: entreprise; Type: TABLE DATA; Schema: public; Owner: s3m_user
--

COPY public.entreprise (id_entreprise, nom_entreprise) FROM stdin;
1	STELLANTIS
2	Stellantis
3	AFTL
4	S3M
5	ONE
6	SGS
7	GTH CONSULT
8	IFMIA
9	PCI SERVICES
10	DURR
\.


--
-- Data for Name: evaluation_a_chaud; Type: TABLE DATA; Schema: public; Owner: s3m_user
--

COPY public.evaluation_a_chaud (id_eval_chaud, id_participation, evaluation_a_chaud) FROM stdin;
\.


--
-- Data for Name: evaluation_a_froid; Type: TABLE DATA; Schema: public; Owner: s3m_user
--

COPY public.evaluation_a_froid (id_eval_froid, id_participation, id_n_plus_1, evaluation_participant, evaluation_n_plus_1, date_evaluation_a_froid, taux_efficacite) FROM stdin;
\.


--
-- Data for Name: fiche_technique_formation; Type: TABLE DATA; Schema: public; Owner: s3m_user
--



--
-- Data for Name: formation; Type: TABLE DATA; Schema: public; Owner: s3m_user
--



--
-- Data for Name: participation; Type: TABLE DATA; Schema: public; Owner: s3m_user
--



--
-- Data for Name: session_formation; Type: TABLE DATA; Schema: public; Owner: s3m_user
--



--
-- Data for Name: stg_formation_excel; Type: TABLE DATA; Schema: public; Owner: s3m_user
--



--
-- Name: cout_formation_id_cout_seq; Type: SEQUENCE SET; Schema: public; Owner: s3m_user
--

SELECT pg_catalog.setval('public.cout_formation_id_cout_seq', 70, true);


--
-- Name: employe_id_employe_seq; Type: SEQUENCE SET; Schema: public; Owner: s3m_user
--

SELECT pg_catalog.setval('public.employe_id_employe_seq', 1108, true);


--
-- Name: entreprise_id_entreprise_seq; Type: SEQUENCE SET; Schema: public; Owner: s3m_user
--

SELECT pg_catalog.setval('public.entreprise_id_entreprise_seq', 10, true);


--
-- Name: evaluation_a_chaud_id_eval_chaud_seq; Type: SEQUENCE SET; Schema: public; Owner: s3m_user
--

SELECT pg_catalog.setval('public.evaluation_a_chaud_id_eval_chaud_seq', 1, false);


--
-- Name: evaluation_a_froid_id_eval_froid_seq; Type: SEQUENCE SET; Schema: public; Owner: s3m_user
--

SELECT pg_catalog.setval('public.evaluation_a_froid_id_eval_froid_seq', 1, false);


--
-- Name: fiche_technique_formation_id_fiche_seq; Type: SEQUENCE SET; Schema: public; Owner: s3m_user
--

SELECT pg_catalog.setval('public.fiche_technique_formation_id_fiche_seq', 93, true);


--
-- Name: formation_id_formation_seq; Type: SEQUENCE SET; Schema: public; Owner: s3m_user
--

SELECT pg_catalog.setval('public.formation_id_formation_seq', 94, true);


--
-- Name: participation_id_participation_seq; Type: SEQUENCE SET; Schema: public; Owner: s3m_user
--

SELECT pg_catalog.setval('public.participation_id_participation_seq', 1018, true);


--
-- Name: session_formation_id_session_seq; Type: SEQUENCE SET; Schema: public; Owner: s3m_user
--

SELECT pg_catalog.setval('public.session_formation_id_session_seq', 243, true);


--
-- Name: cout_formation cout_formation_pkey; Type: CONSTRAINT; Schema: public; Owner: s3m_user
--

ALTER TABLE ONLY public.cout_formation
    ADD CONSTRAINT cout_formation_pkey PRIMARY KEY (id_cout);


--
-- Name: employe employe_pkey; Type: CONSTRAINT; Schema: public; Owner: s3m_user
--

ALTER TABLE ONLY public.employe
    ADD CONSTRAINT employe_pkey PRIMARY KEY (id_employe);


--
-- Name: entreprise entreprise_pkey; Type: CONSTRAINT; Schema: public; Owner: s3m_user
--

ALTER TABLE ONLY public.entreprise
    ADD CONSTRAINT entreprise_pkey PRIMARY KEY (id_entreprise);


--
-- Name: evaluation_a_chaud evaluation_a_chaud_pkey; Type: CONSTRAINT; Schema: public; Owner: s3m_user
--

ALTER TABLE ONLY public.evaluation_a_chaud
    ADD CONSTRAINT evaluation_a_chaud_pkey PRIMARY KEY (id_eval_chaud);


--
-- Name: evaluation_a_froid evaluation_a_froid_pkey; Type: CONSTRAINT; Schema: public; Owner: s3m_user
--

ALTER TABLE ONLY public.evaluation_a_froid
    ADD CONSTRAINT evaluation_a_froid_pkey PRIMARY KEY (id_eval_froid);


--
-- Name: fiche_technique_formation fiche_technique_formation_pkey; Type: CONSTRAINT; Schema: public; Owner: s3m_user
--

ALTER TABLE ONLY public.fiche_technique_formation
    ADD CONSTRAINT fiche_technique_formation_pkey PRIMARY KEY (id_fiche);


--
-- Name: formation formation_pkey; Type: CONSTRAINT; Schema: public; Owner: s3m_user
--

ALTER TABLE ONLY public.formation
    ADD CONSTRAINT formation_pkey PRIMARY KEY (id_formation);


--
-- Name: participation participation_pkey; Type: CONSTRAINT; Schema: public; Owner: s3m_user
--

ALTER TABLE ONLY public.participation
    ADD CONSTRAINT participation_pkey PRIMARY KEY (id_participation);


--
-- Name: session_formation session_formation_pkey; Type: CONSTRAINT; Schema: public; Owner: s3m_user
--

ALTER TABLE ONLY public.session_formation
    ADD CONSTRAINT session_formation_pkey PRIMARY KEY (id_session);


--
-- Name: employe uq_employe_matricule; Type: CONSTRAINT; Schema: public; Owner: s3m_user
--

ALTER TABLE ONLY public.employe
    ADD CONSTRAINT uq_employe_matricule UNIQUE (matricule);


--
-- Name: entreprise uq_entreprise_nom; Type: CONSTRAINT; Schema: public; Owner: s3m_user
--

ALTER TABLE ONLY public.entreprise
    ADD CONSTRAINT uq_entreprise_nom UNIQUE (nom_entreprise);


--
-- Name: fiche_technique_formation uq_fiche_formation_version; Type: CONSTRAINT; Schema: public; Owner: s3m_user
--

ALTER TABLE ONLY public.fiche_technique_formation
    ADD CONSTRAINT uq_fiche_formation_version UNIQUE (id_formation, version_numero);


--
-- Name: participation uq_participation_employe_session; Type: CONSTRAINT; Schema: public; Owner: s3m_user
--

ALTER TABLE ONLY public.participation
    ADD CONSTRAINT uq_participation_employe_session UNIQUE (id_employe, id_session);


--
-- Name: uq_fiche_active; Type: INDEX; Schema: public; Owner: s3m_user
--

CREATE UNIQUE INDEX uq_fiche_active ON public.fiche_technique_formation USING btree (id_formation) WHERE ((statut)::text = 'ACTIVE'::text);


--
-- Name: cout_formation fk_cout_session; Type: FK CONSTRAINT; Schema: public; Owner: s3m_user
--

ALTER TABLE ONLY public.cout_formation
    ADD CONSTRAINT fk_cout_session FOREIGN KEY (id_session) REFERENCES public.session_formation(id_session);


--
-- Name: employe fk_employe_entreprise; Type: FK CONSTRAINT; Schema: public; Owner: s3m_user
--

ALTER TABLE ONLY public.employe
    ADD CONSTRAINT fk_employe_entreprise FOREIGN KEY (id_entreprise) REFERENCES public.entreprise(id_entreprise);


--
-- Name: employe fk_employe_manager; Type: FK CONSTRAINT; Schema: public; Owner: s3m_user
--

ALTER TABLE ONLY public.employe
    ADD CONSTRAINT fk_employe_manager FOREIGN KEY (id_manager) REFERENCES public.employe(id_employe);


--
-- Name: evaluation_a_chaud fk_eval_chaud_participation; Type: FK CONSTRAINT; Schema: public; Owner: s3m_user
--

ALTER TABLE ONLY public.evaluation_a_chaud
    ADD CONSTRAINT fk_eval_chaud_participation FOREIGN KEY (id_participation) REFERENCES public.participation(id_participation);


--
-- Name: evaluation_a_froid fk_eval_froid_n1; Type: FK CONSTRAINT; Schema: public; Owner: s3m_user
--

ALTER TABLE ONLY public.evaluation_a_froid
    ADD CONSTRAINT fk_eval_froid_n1 FOREIGN KEY (id_n_plus_1) REFERENCES public.employe(id_employe);


--
-- Name: evaluation_a_froid fk_eval_froid_participation; Type: FK CONSTRAINT; Schema: public; Owner: s3m_user
--

ALTER TABLE ONLY public.evaluation_a_froid
    ADD CONSTRAINT fk_eval_froid_participation FOREIGN KEY (id_participation) REFERENCES public.participation(id_participation);


--
-- Name: fiche_technique_formation fk_fiche_formation; Type: FK CONSTRAINT; Schema: public; Owner: s3m_user
--

ALTER TABLE ONLY public.fiche_technique_formation
    ADD CONSTRAINT fk_fiche_formation FOREIGN KEY (id_formation) REFERENCES public.formation(id_formation) ON DELETE CASCADE;


--
-- Name: participation fk_participation_employe; Type: FK CONSTRAINT; Schema: public; Owner: s3m_user
--

ALTER TABLE ONLY public.participation
    ADD CONSTRAINT fk_participation_employe FOREIGN KEY (id_employe) REFERENCES public.employe(id_employe);


--
-- Name: participation fk_participation_session; Type: FK CONSTRAINT; Schema: public; Owner: s3m_user
--

ALTER TABLE ONLY public.participation
    ADD CONSTRAINT fk_participation_session FOREIGN KEY (id_session) REFERENCES public.session_formation(id_session);


--
-- Name: session_formation fk_session_entreprise; Type: FK CONSTRAINT; Schema: public; Owner: s3m_user
--

ALTER TABLE ONLY public.session_formation
    ADD CONSTRAINT fk_session_entreprise FOREIGN KEY (id_entreprise) REFERENCES public.entreprise(id_entreprise);


--
-- Name: session_formation fk_session_formation; Type: FK CONSTRAINT; Schema: public; Owner: s3m_user
--

ALTER TABLE ONLY public.session_formation
    ADD CONSTRAINT fk_session_formation FOREIGN KEY (id_formation) REFERENCES public.formation(id_formation);


--
-- PostgreSQL database dump complete
--

\unrestrict ne5mQ0Wa8BZW6Xkf8xgEpk1g7mpYzTZlmp0H5gCftM3GKReFVV5Ha0CpW57nbtC

